/auto/
/lisp_repl.txt~
/lispstuff.txt~
/lispy.fasl
/lispy.lisp~
/rules.aux
/rules.log
/rules.tex~
/struggle.log
/struggle.sty~
/#struggle.sty#
/README.md~
/img.aux
/img.log
/img.pdf
/img.tex~
/test.aux
/test.log
/test.tex~
/#rules.tex#
/.#rules.tex
/rulebook.tex~
/rulebook.out
/rulebook.aux
/rulebook.log
/rules/caboose.tex~
/rules/grimreaper.tex~
/rules/teleporter.tex~
/rules/torus.tex~
/rules/auto/jolt.el
/rules/jolt.log
/rules/jolt.tex~
/rules/armor.aux
/rules/armor.log
/rules/armor.out
/rules/armor.pdf
/rules/caboose.aux
/rules/caboose.log
/rules/caboose.out
/rules/caboose.pdf
/rules/grimreaper.aux
/rules/grimreaper.log
/rules/grimreaper.out
/rules/grimreaper.pdf
/rules/jolt.aux
/rules/jolt.out
/rules/jolt.pdf
/rules/teleporter.aux
/rules/teleporter.log
/rules/teleporter.out
/rules/teleporter.pdf
/rules/torus.aux
/rules/torus.log
/rules/torus.out
/rules/torus.pdf
/rules/auto/armor.el
/rules/auto/caboose.el
/rules/auto/grimreaper.el
/rules/auto/teleporter.el
/rules/auto/torus.el
/rules/auto/
/rules/nonagressionpact.tex~
/rules/tumblingtower.tex~
