/auto/
/lisp_repl.txt~
/lispstuff.txt~
/lispy.fasl
/lispy.lisp~
/rules.aux
/rules.log
/rules.tex~
/struggle.log
/struggle.sty~
/#struggle.sty#
/README.md~
/img.aux
/img.log
/img.pdf
/img.tex~
/test.aux
/test.log
/test.tex~
/#rules.tex#
/.#rules.tex
